node_modules/
dist/
build/
coverage/
.turbo/
.vite/
*.tsbuildinfo

.env
.env.*
!.env.example

# Prisma
apps/api/prisma/*.db

# Playwright
test-results/
playwright-report/
blob-report/
.playwright/

# Editores / SO
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
exportacoes/
